body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    transition: background-color 0.5s ease;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.cambiar-fondo{
    background-color: rgba(131, 133, 133, 0.322);
}

#linkUdc:hover{
    color: greenyellow;
}

.li1{
    background-color: blue;
}
.li2{
    background-color: red;
}
.li3{
    background-color: gold;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foColor{
    color: gray;
}

.container{
    width: 600px;
    padding: 50px;
}

#btnCambiarColor{
    background-color: #6200ee;
    padding: 10px;
    margin: 15px 5px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btnCambiarColor:hover{
    background-color: #43059b;
}
    
.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.contacto-item{
    flex: 1;
    border: 2px solid #6200ee;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width:600px){
    .contenedor-contacto{
        flex-direction: column;
        align-items: center;
    }

    .contacto-item{
        width: 90%;
    }
}

.spanDelete{
    color: aliceblue;
    cursor: pointer;
    font-style:italic;
}