body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
    transition: background-color 0.5s ease;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.cambiar-fondo{
    background-color: rgba(131, 133, 133, 0.322);
}

#linkUdc:hover{
    color: greenyellow;
}

.li1{
    background-color: blue;
}
.li2{
    background-color: red;
}
.li3{
    background-color: gold;
}
.foColor{
    color: gray;
}

.container{
    width: 600px;
    padding: 50px;
}

#btnCambiarColor{
    background-color: #6200ee;
    padding: 10px;
    margin: 15px 5px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btnCambiarColor:hover{
    background-color: #43059b;
    
}